@import url(https://fonts.googleapis.com/css?family=Roboto:400,300&subset=cyrillic);

body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  background-color: white;
}

main {
  display: block;  //for IE
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

main img {
	display: block;
	margin: 50px auto 0;
}

main h1 {
  text-align: center;
  color: #2e353d;
  font-size: 40px;
  font-weight: 300;
}

main ul {
	margin-left: 10%;
	padding: 0;
}

main li {
	display: flex;
	list-style-type: none;
	margin-bottom: 1em;
}

main li::after {
	content: "";
	display: table;
	clear: both;
}

main a {
  color: #597da3;
  text-decoration: none;
}

main a:hover {
    border-bottom: 1px solid #597da3;
}

.contact-btn {
  flex-shrink: 0;
  display: inline-block;
  float: left;
  margin-right: 1em;
  width: 40px;
  height: 40px;
  text-align: center;
	text-decoration: none;	
  line-height: 40px;
  font-size: 24px;
	color: white;
	text-shadow: 0 0 2px #597da3;
  background-color: rgba(89, 125, 163, 0.5);
  border: 1px solid #8094ab;
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.contact-btn:hover {
  background-color: white;
  color: #597da3;
	text-shadow: none;
  border: 1px solid #8094ab;
}

.icon-github-circled {
	font-size: 28px;
}

.contact-btn + span {
  margin: auto 0;
}